<!DOCTYPE html>
<link rel="stylesheet" href="css/styles.css">
<html>
    <head>
        <meta charset="UTF-8">
        <title>El Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>

        <div class="contenedor">
        <header class="header">
         <h1>Shopping Cart</h1>
         </header>
        <main class="contenido">
        <h4 size="20px" color="black">CESTA </h4>
        <a size="8px" color=#007185>Seleccionar todos los artículos </a>
        <hr size="1px" color=#0F1111>
        <ul>
            <div class="Cart-Items1">
                <input type="checkbox" name="check-item" value="a" id="a">
   	   	        <div class="image-box">
   	   	  	    <img src="\images\chairs-data.jpg" height =50px>
   	   	        </div>
   	   	        <div class="about">
   	   	  	    <h1 class="title">Chair</h1>
   	   	  	    <h3 class="subtitle"></h3>
   	   	  	    </div>
   	   	        <div class="counter">
   	   	  	<div class="btn">-</div>
   	   	  	<div class="count">1</div>
   	   	  	<div class="btn">+</div>
   	   	  </div>
   	   	  <div class="prices">
   	   	  	<div class="amount">£1.500</div>
   	   	  	<div class="save"><u>Save for later</u></div>
   	   	  	<div class="remove"><u>Remove</u></div>
   	   	  </div>
        </div>
        <br>
        <div class="Cart-Items2">
            <input type="checkbox" name="check-item" value="a" id="a">
            <div class="image-box">
                <img src="\images\livingroom-data.jpg" height =50px>
            </div>
            <div class="about">
                <h1 class="title">Living Room</h1>
                <h3 class="subtitle"></h3>
                </div>
            <div class="counter">
                <div class="btn">-</div>
                <div class="count">1</div>
                <div class="btn">+</div>
            </div>
            <div class="prices">
                <div class="amount">£1.500</div>
                <div class="save"><u>Save for later</u></div>
                <div class="remove"><u>Remove</u></div>
            </div>
            </div>
    <br>
    <div class="Cart-Items2">
        <input type="checkbox" name="check-item" value="a" id="a">
        <div class="image-box">
            <img src="\images\sideboards-data.jpg" height =50px>
        </div>
        <div class="about">
            <h1 class="title">Side Board</h1>
            <h3 class="subtitle"></h3>
            </div>
        <div class="counter">
            <div class="btn">-</div>
            <div class="count">1</div>
            <div class="btn">+</div>
        </div>
        <div class="prices">
            <div class="amount">£1.500</div>
            <div class="save"><u>Save for later</u></div>
            <div class="remove"><u>Remove</u></div>
        </div>
        </div>
<br>
        </ul>
        </main>
        <aside class="sidebar">
        <div class="checkout">
   	    <div class="total">
   	 	 <div>
   	 		<div class="Subtotal">Sub-Total</div>
   	 		<div class="items">3 items</div>
   	 	 </div>
   	 	<div class="total-amount">£4.500</div>
   	 </div>
	 <div>
   	 <button class="button">Checkout</button></div>
        </div>
        </aside>
        <div class="widget-1">
        <h3>WIDGET 1</h3>
        </div>
        <div class="widget-2">
        <h3>WIDGET 2</h3>
        </div>
        <footer class="footer">
        <h5>All right reserved</h5>
        </footer>              
        
    </div>
</body>
</html>      
        
        
        
        
        
        
        
        
        
    